*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: grid;
  place-items: center;
  
}
.section{
  display:flex;
  flex-direction: column;
  place-items: center;
  background-image: linear-gradient(to right,rgb(224, 224, 112) , pink);
}

.name{
  padding: 5px;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
}

.ullist{
  box-shadow: 0px 0px 4px 1px #000;
  display: flex;
  justify-content: flex-end;
  place-items: center;
  padding-right:30px;
  height: 50px;
  gap: 30px;
  width: 100vw;
  background-image:radial-gradient(circle,rgb(245, 245, 121),rgb(116, 227, 116));
  display: flex;
  gap: 30px;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 1px #fff;
 
}

.section{
  height: 100vh;
  width: 100vw;
 
}
.section1{
  display:flex;
  flex-direction: column;
  gap: 0;
  place-items: center;
  background-image: linear-gradient(to right,rgb(224, 224, 112) , pink);
}

.skill{
  margin: 5px;
  padding: 5px;
  box-shadow: 0px 0px 2px 2px 
  #8b8a8d;
   border-radius: 10px;
   font-size: 20px;
   background-image: linear-gradient(to left,rgb(245, 245, 121),rgb(116, 227, 116));
   transition: transform 0.3s ease;
}
.skill:hover {
  transform: scale(1.05);
}

.skills{
  display: grid;
  gap: 10px;
  padding-bottom: 30px;
  font-size: 22px;
}

.education{
  
  margin: 5px;
  padding: 10px;
  box-shadow: 0px 0px 2px 2px 
  #8b8a8d;
   border-radius: 10px;
   font-size: 20px;
   background-image: linear-gradient(to left,rgb(245, 245, 121),rgb(116, 227, 116));
   transition: transform 0.3s ease;
}
.education:hover {
  transform: scale(1.05);
}

.hero{
    display: grid;
    place-items: center;
    padding-bottom: 15px;
    font-size: 22px;

}
.abhead{
font-size:40px;
font-weight: bold;
text-shadow: 1px 1px 1px #fff;
}
.about{
  height: 330px;
  width: 800px;
  margin: 60px;
  padding: 10px;
  box-shadow: 0px 0px 2px 2px 
  #8b8a8d;
   border-radius: 10px;
   font-size: 21px;
   font-weight: 550;
   background-image: linear-gradient(to left,rgb(245, 245, 121),rgb(116, 227, 116));
   transition: transform 0.3s ease;
   animation: pro 4s linear infinite;
}

@keyframes pro{
  0% {
    transform: scale(0.9);
}
100% {
    transform: scale(1.2);
}
}
.about:hover {
  transform: scale(1.05);
}

.section3{
  display: grid;
  place-items: center;
  justify-content: center;
  background-image: linear-gradient(to right,rgb(224, 224, 112) , pink);
}


.project{
  
  text-shadow: 1px 1px 1px #fff;
  margin: 5px;
  margin-bottom: 30px;
  padding: 10px;
  box-shadow: 0px 0px 2px 2px 
  #8b8a8d;
   border-radius: 10px;
   font-size: 20px;
   font-weight: 600px;
   background-image: linear-gradient(to left,rgb(245, 245, 121),rgb(116, 227, 116));
   transition: transform 0.3s ease;
   
}


.project:hover {
  transform: scale(1.05);
}

.project a{
  color: black;
  text-shadow: 1px 1px 1px #fff;
}


.container{
  margin: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-info{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 600px;
    text-shadow: 1px 1px 1px #fff;
    margin: 5px;
    padding: 10px;
    box-shadow: 0px 0px 2px 2px 
    #8b8a8d;
     border-radius: 10px;
     font-size: 20px;
     font-weight: 600px;
     background-image: linear-gradient(to left,rgb(245, 245, 121),rgb(116, 227, 116));
     transition: transform 0.3s ease;
     animation: pro 4s linear infinite;
  
}
.contact-info:hover {
  transform: scale(1.05);
}